*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-image:url(weather.jpg);
}
.container
{
    width: 600px;
    margin: 100px auto;
    padding: 40px;
}
.inputs {
    padding: 2rem 0 2rem 0;
    text-align: center;
    justify-content: center;
    background-color: rgba(26,48,102, 0.7);
    height: 150px;
    border-radius: 25px 25px 0 0 ;
}
.inputs input[type="text"] {
    height: 3rem;
    width: 20rem;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    background-color: white;
    border-radius: 25px;
    padding: 12px;
    margin-right: 4px;
}
::placeholder {
    color: #a3a3a3;
}
.inputs input[type="submit"] {
height: 3rem;
width: 6rem;
background:#f3f3f3;
font-weight: bold;
color:#001632;
font-size: 1rem;
margin-top: 20px;
border: none;
border-radius: 25px;
}
.display {
    text-align: center;
    width: 520px;
    color: #16a864;
}
.wrapper {
    background-color:white;
    height: 45vh;
    border-radius: 25px;
}
.wrapper h2 {
    text-align: center;
    background-color:#f3f3f3;
    color:#727289;
    padding:20px 0px ;
}
.results {
margin:50px  auto;
}
.wrapper p {
    text-align: center;
    color: #8F9582 ;
    font-size: 23px;
}
.wrapper h2 span {
    font-size: 26px;
    color:#001632;
}
.wrapper p span {
    color: #1a3066;
    font-size: 25px;
    font-weight: 600;
}
